body
        {
            background:rgb(196, 147, 189)
        }
        
        .tr1{
            background:rgb(166, 140, 238)
        }
        .tr2{
            background:red;
        }

        .tr1{

            margin-left:100px;
        }
        .mydiv{

            border: 1px solid black ;
        }